<div class="footer-2">
    <div class="columns f2wf-columns">
      <div class="column">
        <div class="logo-wrapper"><img src="{{ images.101fa572.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:640,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;640px&quot;}]" alt="{{ images.101fa572.alt | trim | escape }}" class="vectors-wrapper-6"></div>
      </div>
      <div class="small-columns f2wf-small-columns">
        <div class="column-2">
          <div class="content-2">
            <div class="text-7">{{ texts.21b3c91a }}</div>
            <div class="footer-links">
              <div class="link-2">
                <a href="{{ links.1f2c24b7 }}" target="_blank">{{ texts.46615ca7 }}</a>
              </div>
              <div class="link-2">
                <a href="{{ links.2058645f }}" target="_blank">{{ texts.-330f0881 }}</a>
              </div>
              <div class="link-2">
                <a href="{{ links.-5d162f00 }}" target="_blank">{{ texts.-18777cc2 }}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="column-2">
          <div class="content-2">
            <div class="text-7">{{ texts.3b32b6d }}</div>
            <div class="footer-links">
              <div class="link-2">
                <a href="{{ links.-10a93b9c }}" target="_blank">{{ texts.-24630032 }}</a>
              </div>
              <div class="link-2">
                <a href="{{ links.9d271d5 }}" target="_blank">{{ texts.-3fbde6f6 }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="text-8">{{ texts.-4ad5204b }}</div>
    </div>
  </div>