<div class="navbar-logo-left wf-section">
    <div data-animation="default" class="navbar-logo-left-container shadow-three w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" role="banner" data-duration="400" data-doc-height="1">
      <div class="container">
        <div class="navbar-wrapper">
          <a href="{{ links.23 }}" class="navbar-brand w-nav-brand"><img src="{{ images.6f356dc.url }}" loading="lazy" width="125" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;125px&quot;}]" alt="{{ images.6f356dc.alt | trim | escape }}" class="image-39"></a>
          <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
            <ul role="list" class="nav-menu-two w-list-unstyled">
              <li class="list-item">
                <a href="{{ links.-ea93116 }}" class="nav-link">{{ texts.2268ff }}</a>
              </li>
              <li class="list-item-3">
                <a href="{{ links.42afe073 }}" class="nav-link">{{ texts.-7b61fb8c }}</a>
              </li>
              <li class="list-item-3">
                <a href="{{ links.-7eec0681 }}" class="nav-link">{{ texts.-25bf0949 }}</a>
              </li>
            </ul>
            <div class="div-block-17">
              <a href="{{ links.23 }}" target="_blank" class="button-2 primary button-text w-button">{{ texts.-5c16c827 }}</a>
            </div>
          </nav>
          <div class="menu-button w-nav-button">
            <div class="icon w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>